<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.code1912.novelapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".AppContext"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|screenSize|orientation|layoutDirection"
               android:name=".SearchActivity"
               android:theme="@style/AppTheme.NoActionBar"
               android:label="search"
              >
                <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"    />

        </activity>
          <activity android:name=".NovelActivity"
                    android:label="novel"
                    android:theme="@style/AppTheme.NoActionBar"
                    android:configChanges="keyboard|screenSize|orientation|layoutDirection">

          </activity>
        <activity android:name=".ChapterInfoActivity"
                  android:label=""
                  android:theme="@style/AppTheme.NoActionBar"
                  android:configChanges="keyboard|screenSize|orientation|layoutDirection">
        </activity>
        <activity android:name=".ChapterListActivity"
                  android:label=""
                  android:theme="@style/AppTheme.NoActionBar"
                  android:configChanges="keyboard|screenSize|orientation|layoutDirection">
        </activity>
        <activity android:name=".SettingActivity"   android:screenOrientation="portrait"
                  android:label=""
                  android:theme="@style/AppTheme.NoActionBar"
                  android:configChanges="keyboard|screenSize|orientation|layoutDirection">
        </activity>
        <meta-data android:name="DATABASE" android:value="novel_go.db" />
        <meta-data android:name="VERSION" android:value="3" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.code1912.novelapp" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
</manifest>